In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"E:\SR Kreativwerkstatt\Rechnungen\2023\rechnungen_2023.csv", sep = ';', usecols=list(range(4)))

df.head()

  Adresszusatz                Name               Straße                 Ort
0          NaN       Marina Düsing    Friedensstraße 44  39387 Oschersleben
1          NaN     Hilde Eichinger  Schießstättgasse 15   84307 Eggenfelden
2          NaN   Christiane Abdoun         Kleinikon 5a  8312 Winterberg ZH
3          NaN  Sabrina Bruggemans      Schlumpfenhof 4    6343 Holzhäusern
4          NaN         Maxie Clauß    Teutoburgstr. 12a       01039 Dresden